.main-chat
  .main-chat__group-info
    .main-chat__group-info__group
      .main-chat__group-info__group__name
        test
      .main-chat__group-info__group__member
        Member：masaki
    = link_to "#", class: "main-chat__group-info__btn" do
      .main-chat__group-info__btn--edit
        Edit
  .main-chat__message-list
    .main-chat__message-list__member-info
      .main-chat__message-list__member-info__member
        masaki
      .main-chat__message-list__member-info__posted-date
        2020/03/26(Thu) 15:30:00
    .main-chat__message-list__member-message
      最高！
  .main-chat__message-from