.side-bar {
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    &__top-item {
      height: 20px;
      width: 260px;
      background-color: #ffffff;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        line-height: 20px; 
      }
      &__icons {
        background-color: #d2d2d2;
        width: 60px;
        text-align: right;
        &__btn--edit {
          text-decoration: none;
          &--icon {
            color: #ffffff;
            margin-left: 5px;
          }
        }
        &__btn--cog {
          text-decoration: none;
          &--icon {
            color: #ffffff;
            margin-left: 5px;
          }
        }
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}